body {
    margin: 0 auto;
    text-align: center;
    background-color: slateblue;
}

.principalContainer{
    width: 100%;
    
    
}
h1{
    font-size: 28px;
    padding: 15px;
    margin-top: 30px;
    font-weight: 900;
    text-transform: uppercase;
    

}
h2{
    font-size: 28px;
    padding: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 900;
    max-width: 600px;
    font-size: 30px;
    border-radius: 8px;
    background-color: whitesmoke;
    color: slateblue;
    margin: 0 auto;
    text-align: center;
}
h3{
    font-size: 22px;
    padding: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    max-width: 600px;
    border-radius: 8px;
    color: whitesmoke;
    margin: 0 auto;
    text-align: center;
}
h2:hover{
    background-color: slateblue;
    color: whitesmoke;
    border: 3px solid whitesmoke;
    margin: 0 auto;
    text-align: center;
}
.title{
    width: 90%;
    font-size: 30px;
    color: whitesmoke;
    margin: 0 auto;
    text-align: center;
}
span{
    width: 90%;
    font-size: 32px;
    color: whitesmoke;
    text-transform: none;
    
}
.allButton, .searchPokemon, .generateRandom{
    width: 200px;
    height: 60px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    color: slateblue;
    background-color: whitesmoke;
    border: 3px solid slateblue;
    
}
.allButton:hover, .searchPokemon:hover{
    color: whitesmoke;
    background-color: slateblue;
    border: 3px solid whitesmoke;
    
}
.totalPokemonList, .onlyOne, .randomList {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.onlyOne, .randomList{
    margin: 40px 20px;
}
.pokeList {
    min-width: 250px;
    max-width: 350px;
    margin: 20px;
    border: 3px solid whitesmoke;
    color: whitesmoke;
    border-radius: 8px;
    list-style: none;
}
.search{
    min-width: 250px;
    max-width: 100%;
    border: 3px solid whitesmoke;
    color: whitesmoke;
    border-radius: 8px;
    list-style: none;
    margin: 0 auto;
    text-align: center;
}
.searcher{
    display: block;
    position: relative;
    right: 17px;
    min-width: 150px;
    max-width: 100%;
    border: 3px solid whitesmoke;
    color: whitesmoke;
    border-radius: 8px;
    list-style: none;
    margin: 15px 0;
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
}
.searcherli{
    min-width: 150px;
    max-width: 300px;
    border: 3px solid whitesmoke;
    color: whitesmoke;
    border-radius: 8px;
    list-style: none;
    margin: 15px auto;
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
}
img {
    width: 90%;
    background-size: contain;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
  }

.typePokemon{
    display: block;
    min-width: 200px;
    padding: 5px;
    background-color: whitesmoke;
    color: slateblue;
    font-size: 20px;
    font-weight: 700;
    margin: 25px auto;
    text-align: center;
}

.swal-title {
    color: slateblue;
}
.swal-text {
    color: slateblue;
    font-size: 18px;
    font-weight: 500;
}
.swal-button {
    background-color: slateblue;
}
